<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>장비 상세 페이지</title>
</head>
<body>

<table>
	<tr>
		<th>카테고리</th>
		<td th:text="${tool.category}"></td>
	</tr>
	<tr>
		<th>장비명</th>
		<td th:text="${tool.tool_name}"></td>
	</tr>
	<tr>
		<th>사진</th>
		<td th:text="${tool.tool_image}"></td>
	</tr>
	<tr>
		<th>장비 설명</th>
		<td th:text="${tool.tool_comment}"></td>
	</tr>
	<tr>
		<th>수량</th>
		<td th:text="${tool.tool_quantity}"></td>
	</tr>
	<tr>
		<th>상태</th>
		<td th:text="${tool.rentalable}"></td>
	</tr>
</table>

</body>
</html>