<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" lang="en">
  <head>
    <meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../static/css/index_style.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
    <title>HOME</title>
  </head>
  <body>
    <div layout:fragment="content">

			<section class="main-banner">
				<div class="container">
					<img src="/img/sub_bg04_pc.jpg">
<!--					<div class="search-box">
						<form th:action="list" method="get" name="main_search" class="search-from">
							<input type="text" name="main_search" id="content" th:value="${content}" placeholder="찾고 있는 장비를 검색해보세요." />
							<i id="submit-btn" class="fa fa-search fa-3x" aria-hidden="true"></i>
						</form>
					</div>-->

				</div>
			</section>

			<section class="myinfo">
				<div class="container">
					<h1 class="title">나의 대여·예약 정보</h1>
					<p class="sub-title">진행중인 대여건과 예약상태를 확인</p>
	
					<div class="sub-con">

						<!--로그인 안 했을 때-->
						<div class="my-con" th:if="${user_id} == null">
							<h2 class="request-login"><a th:href="@{/login}">로그인</a> 후 확인 가능 합니다.</h2>
						</div> 

						<!--로그인 했을 때-->
						<div class="my-con" th:if="${user_id} != null and ${#strings.equals(user_grant, 'USER')}">
							<div class="con">
								<div class="text-list">
									<a th:href="@{/myPage/updateUser}" id="user-name" th:text="${user_name}">이름 <span>님</span></a>
									<p th:classappend="${(#strings.equals(user.user_rentable, '대여가능')) ? 'available': 'overdue'}" th:text="${user.user_rentable}">대여불가</p>
									<p class="overdue" th:if="${user.unavailable_date != null}" th:text="${#temporals.format(user.unavailable_date, 'yyyy년 MM월 dd일까지')}">2023년 2월 23일</p>	
								</div>
							</div>

							<div class="con">
								<div>
									<a th:href="@{/myPage/rental}">진행중인 대여 <span th:text="|${rentalList.size}건|">5건</span></a><br/>
									<a th:href="@{/myPage/reserve}">진행중인 예약 <span th:text="|${reservationList.size}건|">3건</span></a>	
								</div>
							</div>
						</div>
						
						
						<div class="box-container" th:if="${user_id} != null and ${#strings.equals(user_grant, 'USER')}">
							<div class="box">
								<div class="top">
									<p class="sub-title">대여<span class="eq-count" th:text="${rentalList.size}">0</span></p>
								</div>
								<div class="content">
									<table>
										<colgroup>
											<col width="8%" />
											<col width="33%" />
											<col width="30%" />
											<col width="15%" />
										</colgroup>
										<tr th:if="${rentalList.size} <= 0">
											<td colspan="4">현재 대여중인 장비가 없습니다.</td>
											<td></td>
										</tr>
										<tr th:each="rental, rental_state : ${rentalList}">
											<td th:text="${rental_state.index}+1">1.</td>
											<td th:text="${rental.tool_name}">장비이름</td>
											<td th:text="${#temporals.format(rental.return_date, 'yyyy-MM-dd 까지')}">0000-00-00까지</td>
											<td th:text="${rental.rental_state}">상태</td>
										</tr>
									</table>
								</div>
							</div>
	
	
							<div class="box">
								<div class="top">
									<p class="sub-title">예약<span class="eq-count" th:text="${reservationList.size}">0</span></p>
								</div>
	
								<div class="content">
									<table>
										<colgroup>
											<col width="10%" />
											<col width="40%" />
											<col width="15%" />
										</colgroup>
										<tr th:if="${reservationList.size} <= 0">
											<td colspan="4">현재 예약중인 장비가 없습니다.</td>
											<td></td>
										</tr>
										<tr th:each="rsv, rsv_state : ${reservationList}">
											<td th:text="${rsv_state.index}+1">1.</td>
											<td th:text="${rsv.tool_name}">장비이름</td>
											<td th:text="${rsv.reserve_state}">상태</td>
										</tr>
		
									</table>
	
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
		
			<section class="tool-list">
				<h1 class="title">최신 등록 장비</h1>
				<p class="sub-title"></p>
				<div class="con">
					<table>
						<tr class="container">
							<td th:each="tool, tool_state : ${toolList}" th:if="${tool_state.index} < 8">
								<div class="card">
									<img th:src="${tool.tool_image}" class="card-img-top">
						    		<table class="card-table">
						    			<tr>
						    				<th class="card-th">
						    					<h5 class="card-title" th:text="${tool.category_name}">카테고리</h5>
						    				</th>
						    				<td class="card-td">
						    					<p class="card-name" th:text="${tool.tool_name}">장비명</p>
						    				</td>
						    			</tr>
										<tr>
											<td class="card-td" colspan="2">
												<p class="card-text" th:text="${tool.tool_comment}">장비 설명</p>
											</td>
										</tr>
										<tr>
											<td class="card-td" colspan="2">
												<p class="card-text">파손상태: A급</p>
											</td>
										</tr>
										<tr>
											<td class="card-td" colspan="2">
												<p class="card-text">대여일수: 3~7일</p>
											</td>
										</tr>
										<tr>
											<td class="card-td" colspan="2">
												<a th:href="|@{/reserve/}${tool.tool_code}|" class="rebtn" th:text="|예약 (대기 ${tool.totalReservationNum}인)|">예약 (대기 0인)</a>
											</td>
										</tr>
						    		</table>
								</div>
							</td>
						</tr>
					</table>			
				</div>
			</section>


			<section class="eq-list">
				<div class="container">
					<h1 class="title">대여 가능 장비</h1>
					<p class="sub-title">품목 별</p>
					
					<div class="sub-con">
						<div id="line"></div>

						<div class="box-container">
							<th:block th:each="cate : ${categoryList}">
								<div class="box" th:onclick="|location.href='@{/tool/sortCategory/}${cate.category_id}'|">
									<p th:text="${cate.category_name}">사무용품</p>
								</div>								
							</th:block>

						</div>
					</div>

				</div>
			</section>


			
      <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
