<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/myPage_style.css}">
   <title>내 정보</title>
</head>
<body>
	
  <div class="content" layout:fragment="content">
    <h1 class="title">예약 내역</h1>
    <hr>
    <br>
    <div class="con">
	    <table class="listable">
	    	<tr>
	    		<td>예약번호</td>
	    		<td>사진</td>
	    		<td>장비명</td>
	    		<td>예약일자</td>
	    		<td>만료일자</td>
	    		<td>대기인수</td>
	    		<td>예약상태</td>
	    	</tr>
	    	<tr th:each="reservation : ${reservationList}">
	    		<td th:text="${reservation.reserve_id}">번호</td>
	    		<td class="img-box">
					<img th:src="${reservation.tool_image}" class="toolImg">
				</td>
	    		<td th:text="${reservation.tool_name}">장비명</td>
	    		<td th:text="${reservation.reserve_date_String}">예약일자</td>
	    		<td th:text="${reservation.deadline_date_String}">만료일자</td>
	    		<td th:text="${reservation.waiting} + 명">대기인원</td>
	    		<td th:text="${reservation.reserve_state}">상태</td>
	    	</tr>
	    </table>
    </div>
    
  </div>

</body>
</html>