<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/myPage_style.css}">
   <title>내 정보</title>
</head>
<body>
	
  <div class="content" layout:fragment="content">
    <h1 class="title">대여 내역</h1>
    <hr>
    <br>
    <div>
	    <table class="listable">
	    	<tr>
	    		<td>대여번호</td>
	    		<td>사진</td>
	    		<td>장비명</td>
	    		<td>대여일자</td>
	    		<td>반납예정일</td>
	    		<td>반납일자</td>
	    		<td>연장횟수</td>
	    		<td>대여상태</td>
	    		<td th:utext="|&nbsp;|"></td>
	    	</tr>
	    	<tr th:each="rental : ${rentalList}">
	    		<td th:text="${rental.rental_id}">번호</td>
	    		<td class="img-box">
					<img th:src="${rental.tool_image}" class="toolImg">
				</td>
	    		<td th:text="${rental.tool_name}">장비명</td>
	    		<td th:text="${rental.rental_date_String}">대여일자</td>
	    		<td th:text="${rental.expected_return_date_String}">예정반납일</td>
	    		<td th:text="${rental.return_date_String}">반납일자</td>
	    		<td th:text="${rental.renew}">연장횟수</td>
	    		<td th:text="${rental.rental_state}">상태</td>
	    		<td>
	    			<a class="btn" th:href="|@{/myPage/rental_renew}${rental.rental_id}|">연장하기</a>
	    		</td>
	    	</tr>
	    </table>
    </div>
    
  </div>

</body>
</html>