<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/myPage_style.css}">
   <title>내 정보</title>
</head>
<body>
	
  <div class="content" layout:fragment="content">
    <h1 class="title">내 정보</h1>
    <hr>
    <button class="btn" th:onclick="|location.href='@{/myPage/updateUser_checkForm}'|" >내 정보 수정</button>
    <br>
    <div class="list">
	    <table class="listable">
	    	<tr>
	    		<th>아이디</th>
	    		<td th:text="${user.email}"></td>
	    	</tr>
	    	<tr>
	    		<th>이름</th>
	    		<td th:text="${user.user_name}"></td>
	    	</tr>
	    	<tr>
	    		<th>전화번호</th>
	    		<td th:text="${user.phone}"></td>
	    	</tr>
	    	<tr>
	    		<th>상태</th>
	    		<td th:text="${user.user_rentable}"></td>
	    	</tr>
	    </table>
    </div>
    
  </div>

</body>
</html>