<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/myPage_style.css}">
   <title>내 정보</title>
</head>
<body>
	
  <div class="content" layout:fragment="content">
    <h1 class="title">예약 내역</h1>
    <hr>
    <br>
    <div class="listRe">
	    <table class="listable">
<!--	    	<tr th:each="tool : ${toolList}">
	    		<td th:text="${tool.category_name}"></td>
	    	</tr>
-->	    </table>
    </div>
    
  </div>

</body>
</html>