<!DOCTYPE html>
<html layout:decorate="~{layout/admin_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin_style.css}">
   <title>EMRS</title>
</head>
<body>
	
  <div class="content rental" layout:fragment="content">
    <h1 class="title">장비 관리</h1>
    <hr/>
    <button class="btn" th:onclick="|location.href='@{/admin/tool/form}'|" >새 장비 등록</button>
    <button class="btn" onclick="modal()">새 카테고리 등록</button>    
	
    <div class="new-item">
      <div class="top">
        <h2>카테고리 등록</h2>
        <span class="close" onclick="modal()">&times;</span>
      </div>
      <div class="middle">
        <form action="">
          <span>카테고리 명 </span>
          <input type="text" value="">
          <input type="submit" class="btn" value="등록">
        </form>

        <ul class="category-list">
          <p>등록된 카테고리</p>
          <li>1. 카테고리1 <button onclick="deleteCate(1)">삭제</button></li>
        </ul>
      </div>
    </div>

	<div class="sub-nav">
    	<div class="sub-container renform">
	    	<label>
	          <p>장비코드로 검색</p>
	          <input type="text" name="tool_code" id="tool_code" >
	          <button class="btn" onclick="filter();">검색</button>
	        </label>
	        
		<!--카테고리 별 선택-->
        <label for="">
		  <p>카테고리별 검색</p>	      
          <select name="category_id" id="category_id">
          	<option value="" selected>카테고리</option>
          	<option th:each="cate : ${category}" th:value="${cate.category_id}" th:text="${cate.category_name}"></option>
	      </select>
	    </label>

    	</div>    	
	</div>
	
	<label class="delete-tool-list">
		<input id="visibility" type="checkbox" name="visibility" value="N">삭제된 장비만 표시
	</label>
    <div class="tool-area">
      <h2>전체 장비 목록</h2>
		
      <ul class="list-con">
      	<li>
          <div class="info">
            <p class="item1">No</p>
            <p class="item2">이미지</p>
            <p class="item3">카테고리</p>
            <p class="item4">장비코드</p>
            <p class="item5">장비명</p>
            <p class="item6">장비설명</p>  
          </div>
        </li>
		  
        <li class="item" th:each="tool, toolStat : ${toolList}">
          <div class="info">
            <p class="item1" th:text="${toolStat.index+1}">1.</p>
            <div class="item2 imgbox"><img th:src="${tool.tool_image}" alt=""></div>
            <p class="item3" th:text="${tool.category_name}">카테고리</p>
            <p class="item4" th:text="${tool.tool_code}">TRE-001</p>
            <p class="item5" th:text="${tool.tool_name}">이름</p>
            <p class="item6" th:text="${tool.tool_comment}">장비설명</p>  
          </div>
          <div class="btns">
            <button class="btn" th:onclick="|location.href='@{/admin/tool/form/}${tool.tool_id}'|">수정</button>
            <button class="btn" th:onclick="|deleteTool(${tool.tool_id})|">삭제</button>
          </div>
        </li>


      </ul>
  
    </div>
        
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/admin_tool.js"></script>
	<script>
		function modal(){
		    $('.new-item').toggleClass('active');
		}

		function deleteTool(tool_id){
			const temp = confirm("정말 삭제 하시겠습니까?\n대여 중인 장비는 삭제하실 수 없습니다.");
			if (temp == true){
				window.location.href = "http://localhost:9899/admin/tool/delete/"+tool_id;
			}
		}
	
		function reviveTool(tool_id){
			const temp = confirm("장비를 다시 복구하시겠습니까?");
			if (temp == true){
				window.location.href = "http://localhost:9899/admin/tool/revive/"+tool_id;
			}			
		}
		
    </script>
  </div>

</body>
</html>