<!DOCTYPE html>
<html layout:decorate="~{layout/admin_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin_style.css}">
  <link rel="stylesheet" href="../../static/css/admin_style.css">
   <title>EMRS</title>
</head>
<body>
	
  <div class="content rental" layout:fragment="content">
    <h1 class="title">대여 및 반납</h1>
    <hr/>  
    
    <div class="sub-nav">
      <h2>대여</h2>

      <div class="sub-container">
        <form name="rentform" th:action="@{/admin/tool/rent}">
          <label>
            <p>대여자 이메일</p>
            <input type="text" name="" id="" disabled>
          </label>
          <label>
            <p>장비 코드</p>
            <input type="text" name="" id="" disabled>
          </label>
          <button class="btn" disabled>대여</button>
        </form>
      </div>


      <div id="reserve-title" for="">
        <h3>현재 대여가능 예약 목록 <span class="point" th:text="${reservationList.size}"></span></h3>
        <span>검색</span>
        <input type="search" disabled>
      </div>
      
      <div class="reservation-box">
        <table class="reservation-list">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>이메일</th>
              <th>전화번호</th>
              <th>장비 코드</th>         
              <th></th>     
            </tr>
          </thead>
          <tbody>
            <tr th:each="rsv, rsv_state : ${reservationList}">
              <td th:text="${rsv_state.index}+1">1</td>
              <td th:text="${rsv.user_name}">이름1</td>
              <td th:text="${rsv.email}">abc@naver.com</td>
              <td th:text="${rsv.phone}">010-1234-1234</td>
              <td th:text="${rsv.tool_code}">AAA-001</td>
              <td><a th:href="|@{/admin/rent-return/rent/}${rsv.reserve_id}|" class="btn">대여</a></td>   
            </tr>
          </tbody>

        </table>
      </div>


      <h2>반납</h2>			

      <div class="sub-container">
        <form name="returnform" th:action="@{/admin/tool/return}">
          <label>
            <p>장비 코드</p>
            <input type="text" name="tool_code" id="tool_code" disabled>
          </label>
          <button class="btn" disabled>반납</button>
        </form>
      </div>
            <div id="reserve-title" for="">
        <h3>현재 대여중인 목록 <span class="point" th:text="${rentalList.size}"></span></h3>
        <span>검색</span>
        <input type="search" disabled>
      </div>
      
      <div class="reservation-box">
        <table class="reservation-list">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>이메일</th>
              <th>전화번호</th>
              <th>장비 코드</th>
              <th>대여상태</th>                  
              <th></th>     
            </tr>
          </thead>
          <tbody>
            <tr th:each="rental, r_state : ${rentalList}">
              <td th:text="${r_state.index}+1">1</td>
              <td th:text="${rental.user_name}">이름1</td>
              <td th:text="${rental.email}">abc@naver.com</td>
              <td th:text="${rental.phone}">010-1234-1234</td>
              <td th:text="${rental.tool_code}">AAA-001</td>
              <td th:text="${rental.rental_state}">상태</td>              
              <td><a th:href="|@{/admin/rent-return/return/}${rental.tool_code}/${rental.rental_id}/${rental.user_id}|" class="btn">반납</a></td>   
            </tr>
          </tbody>

        </table>
      </div>

	  </div>
    
    
  </div>


</body>
</html>