@import url('reset.css'); /* url 형식 */

hr{
  margin: 2rem 0;
  color: #6c6c86;
}

.btn{
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 0rem;
}

button:disabled {
	cursor: not-allowed;
	border: none;
	background-color: #aaa;
	color: #fff;
}

/* ===== 어드민 페이지 top nav 부분 ===== */
.admin-top {
  padding: 2rem;
  width: 100%;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-top .main-btn {
  cursor: pointer;
  text-align: center;
  font-size: 3.5rem;
  color: var(--main-color);
  font-weight: 600;
}



/* ===== 어드민 페이지 top nav 부분 end ===== */


/* ===== 사이드바 ===== */


.container{
  display: flex;
}

.container .left-nav{
  min-width: 20rem;
  background-color: var(--white);
}

.container .left-nav ul{
	position: sticky;
	top: 0;
}

.container .left-nav ul .menu{
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem 6rem;
}

.container .left-nav ul .menu.active{
  font-weight: 600;
  color: #fff;
  background-color: #6c6c86;
}


/* ===== 사이드바 end ===== */


/* ===== 메인 컨텐트 ===== */

.container .content{
  background-color: #fff;
  width: 80%;
}

.container .content{
  padding: 4rem;
}

.container .content .btn{
	font-size: 1.5rem;
	padding: 1rem;
	margin-top: 0rem;
}

.container .content .title span{
  cursor: pointer;
}

/* ========= 새 아이템 등록하는 모달 ============  */
.new-item{
  display: none;
  border: var(--border);
  background-color: #fff;
  width: 50rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  position: absolute;
}

.new-item.active{
  display: block;
  font-size: 2rem;
}

.new-item .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1.5rem;
  border-bottom: var(--border);
}

.new-item .top h2{
  font-weight: 600;
}

.new-item .top .close{
  font-size: 3rem;
  color: var(--red);
  cursor: pointer;
}

.new-item .middle{
  padding: 2rem;
}

.new-item .middle form input[type='text']{
  border-radius: .7rem;
  border: var(--border);
  padding: 1rem;
}

.new-item .middle .category-list li{
  margin: 1rem;
}




/* ========= 새 아이템 등록하는 모달 end ============  */




/* ========= 장비 리스트 쪽 ============  */

.tool-area {
	padding: 2rem;
	margin-bottom: 5rem;
}

.tool-area h2{
  font-size: 2rem;
  font-weight: 600;
}

.tool-area ul{
  margin: 3rem 0;
}

.tool-area ul li{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: .5rem;
  border-bottom: var(--border);
}

.tool-area ul li .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 80%;
}

.item1{flex-basis: 1rem;}
.item2{flex-basis: 5rem;}
.item3{flex-basis: 10rem;}
.item4{flex-basis: 10rem;}
.item5{flex-basis: 10rem;}
.item6{flex-basis: 25rem;}


.tool-area ul li .info p{
  margin-right: 2rem;
  font-size: 1.5rem;
}

.tool-area ul li .info .imgbox{
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
}

.tool-area ul li .info .imgbox img{
  width: 100%;
  height: 100%;
}

.tool-area ul li .btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tool-area ul li .btns button{
  margin-top: 0rem;
  padding: 1rem;
  font-size: 1.5rem;
  margin: .5rem;
}



/* ===== 메인 컨텐트 end ===== */



/* =========== 장비 등록 폼 ============== */

.content .tool-form{
  display: flex;
  flex-direction: column;
}

.content .tool-form label{
  margin: 1rem;
}

.content .tool-form label span{
  margin: 0 5rem 0 0;
}

.content .tool-form label {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.content .tool-form label span{
  width: 10rem;
  font-size: 2rem;
}

.content .tool-form label input {
  font-size: 2rem;
  width: 30rem;
  margin: 0 2rem;
  border: var(--border);
  padding: 2rem;
  border-radius: 1rem;
}

.content .tool-form label input#tool-code {
  width: 10rem;
}


.content .tool-form label select {
	font-size: 2rem;
  width: 15rem;
  margin: 0 2rem;
  border: var(--border);
  padding: 1rem;
  border-radius: .5rem;
}

.content .tool-form label textarea {
  font-size: 2rem;
  width: 32rem;
  height: 10rem;
  margin: 0 2rem;
  border: var(--border);
  padding: 1rem;
  border-radius: .5rem;
  resize: none;
}


.content .tool-form label#file-input{
	position: relative;
}

.content .tool-form label .cur-imgbox {
	position: absolute;
	width: 25rem;
	height: 25rem;
	top: 5rem;
	left: 60rem;
	background-color: var(--white);
}

.content .tool-form label .cur-imgbox img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.chkmsg{
	display: block;
	color: var(--main-color);
	font-size: 1.5rem;
	line-height: 1.7rem;
}

/* =========== 장비 등록 폼  END ============== */



/* =============== 장비 대여 항목 ============== */

.rental{
}

.rental .sub-nav{
  font-size: 2rem;
}

.rental .sub-nav h2{
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem;
  margin: 0 4rem;
  border-bottom: var(--border);
}

.rental .sub-nav input{
  border-radius: 1rem;
  border: var(--border);
  padding: 1rem;
  margin: .5rem;
  font-size: 1.5rem;
}

.rental .sub-nav select{
	margin-left: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 1rem;
}


.rental .sub-nav .sub-container form{
  display: flex;
  align-items: center;
}

.rental .sub-nav .sub-container form label{
  margin: 2rem;
}

.rental .sub-nav .sub-container form label p{
  margin-left: .5rem;
}


.rental .sub-nav .sub-container form .btn{
  margin: 0rem;
}


.rental .sub-nav .sub-container.renform{
	padding: 2rem;
}

.rental .sub-nav .sub-container.renform label{
	margin-bottom: 2rem;
}



.rental .sub-nav #reserve-title{
  display: flex;
  align-items: center;
  margin-bottom: -2rem;
}

.rental .sub-nav #reserve-title h3{
  font-weight: 600;
  margin: 2rem;
}


.rental .sub-nav .reservation-box{
  height: 35rem;
  margin: 2rem;
  border: var(--border);
  padding: 2rem;
  overflow: scroll;
  overflow-x:hidden;
}

.rental .sub-nav .reservation-box table{
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
}

.rental .sub-nav .reservation-box table tr td .btn{
  margin-bottom: 0rem;
}

.rental .sub-nav .reservation-box table tr{
  border-bottom: var(--border);
}

.rental .sub-nav .reservation-box table tr th{
  font-weight: 600;
  padding: 1rem;
}

.rental .sub-nav .reservation-box table tr td{
  padding: 1rem;
}

.rental .sub-nav .reservation-box table.ren{
	line-height: 4rem;
}

/* ============= 장비 대여 항목 END ============= */


