<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.emrs.dao.RentalDAO">

	<select id="chkRentalState" resultType="int">
		select count(*) from rental where tool_code = #{tool_code} and rental_state != '반납'
	</select>

	<select id="duplicateCheck" resultType="int">
		SELECT count(*)
	    from rental
	    where user_id = #{user_id}
	    	and tool_code = #{tool_code}
	        and rental_state != '반납완료'
	</select>

	
	<select id="getUserAllRental" resultType="RentalDTO">
		select r.*, t.tool_name 
		    from rental r, tool t 
		    where r.tool_code = t.tool_code
		    and user_id = #{user_id}
		    and rental_state != '반납완료'
	</select>
	
	<select id="rentalList" resultType="RentalDTO" parameterType="Integer">
		select r.*, t.tool_name, t.tool_image, t.tool_id
		    from rental r, tool t 
		    where r.tool_code = t.tool_code
		    and user_id = #{user_id}
	</select>


	<update id="rentalRenew" parameterType="Integer">
	   UPDATE RENTAL
	      SET RETURN_DATE = RETURN_DATE + INTERVAL '4' DAY,
	          RENEW = RENEW + 1
	   WHERE RENTAL_ID = #{rental_id}
	</update>

	<!-- 어드민에서 현재 대여중인 대여 목록 불러올 때 사용 -->
	<select id="getActivateRentalList" resultType="RentalDTO">
		select r.*, u.user_name, u.email, u.phone, TO_DATE(r.expected_return_date, 'YYYY-MM-DD') - TO_DATE(sysdate, 'YYYY-MM-DD') as d_day
			from rental r, user_tb u
	    	where r.user_id = u.user_id
        		and rental_state != '반납완료'
	</select>

	<!-- 반납일예정일 - 반납일 (양수가 나오면 해당만큼 연체일)-->
	<select id="returnDateChk" resultType="int">
		select TO_DATE(sysdate, 'YYYY-MM-DD') - TO_DATE(expected_return_date, 'YYYY-MM-DD') 
			from rental 
    		where rental_id = #{rental_id}
	</select>


	<select id="selectRental" resultType="RentalDTO" parameterType="Integer">
		select * from RENTAL 
	    where RENTAL_ID = #{rental_id}
	</select>

	<!-- 어드민>대여내역 전체 대여 목록 불러올 때 사용 -->
	<select id="getAllList" resultType="RentalDTO">
		select r.*, u.user_name, u.email, u.phone, TO_DATE(r.expected_return_date, 'YYYY-MM-DD') - TO_DATE(sysdate, 'YYYY-MM-DD') as d_day
		    from rental r, user_tb u
		    where r.user_id = u.user_id
		    order by r.expected_return_date desc
   	</select>

	<!-- 어드민>대여내역에서 필터 적용된 대여 리스트 -->
	<select id="getFilterData" resultType="RentalDTO">
		select r.*, u.user_name, u.email, u.phone, TO_DATE(r.expected_return_date, 'YYYY-MM-DD') - TO_DATE(sysdate, 'YYYY-MM-DD') as d_day
		    from rental r, user_tb u
		    where r.user_id = u.user_id
   		    <if test="email != ''">
		    	and u.email = #{email}
		    </if>
	    
   		    <if test="tool_code != ''">
		    	and r.tool_code = #{tool_code}
		    </if>
		    
		    <if test="!filter.equals('all')">
		    	and rental_state = #{filter}
		    </if>
		    
		    order by ${sort}
   	</select>




	<insert id="insertRental">
		INSERT INTO RENTAL(rental_id, user_id, tool_code, rental_date, expected_return_date, renew, rental_state)
		VALUES (RENTAL_SEQ.NEXTVAL, #{user_id}, #{tool_code}, #{rental_date}, #{expected_return_date}, #{renew}, #{rental_state})		

	</insert>
	
	
	<!-- UPDATE  -->
	<update id="toolReturn">
		update rental
			set rental_state = #{rental_state},
				return_date = #{return_date}
			where rental_id = #{rental_id}
	</update>

	

	
	
</mapper>