<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.project.emrs.dao.ToolDAO">
	<select id="toolList" resultType="ToolDTO">
		SELECT t.*, NVL(rc.totalReservationNum, 0) AS totalReservationNum
			FROM TOOL t
				LEFT JOIN (SELECT tool_code, SUM(total_count) AS totalReservationNum
		    				FROM (SELECT tool_code, COUNT(*) AS total_count
		        				FROM RENTAL
		        				WHERE rental_state NOT IN ('반납완료', '연체반납')
		        				GROUP BY tool_code
		
		        			UNION ALL
		
		        			SELECT tool_code, COUNT(*) AS total_count
		        				FROM RESERVATION
		        				WHERE reserve_state NOT IN ('대여완료', '예약취소')
		        				GROUP BY tool_code)
		        			combined
		    	GROUP BY tool_code) rc 
		    ON t.TOOL_CODE = rc.tool_code
			WHERE t.visibility = 'Y'
			order by TOOL_ID
	</select>
	
	<select id="sortCategory" parameterType="Integer" resultType="ToolDTO">
		SELECT t.*, NVL(rc.totalReservationNum, 0) AS totalReservationNum
			FROM TOOL t
				LEFT JOIN (SELECT tool_code, SUM(total_count) AS totalReservationNum
		    				FROM (SELECT tool_code, COUNT(*) AS total_count
		        				FROM RENTAL
		        				WHERE rental_state NOT IN ('반납완료', '연체반납')
		        				GROUP BY tool_code
		
		        			UNION ALL
		
		        			SELECT tool_code, COUNT(*) AS total_count
		        				FROM RESERVATION
		        				WHERE reserve_state NOT IN ('대여완료', '예약취소')
		        				GROUP BY tool_code)
		        			combined
		    	GROUP BY tool_code) rc 
		    ON t.TOOL_CODE = rc.tool_code
			WHERE t.visibility = 'Y'
	        <if test="category != null">
	            <if test="category == 1">
	                AND CATEGORY_ID LIKE '%1%'
	            </if>
	            <if test="category == 2">
	                AND CATEGORY_ID LIKE '%2%'
	            </if>
	            <if test="category == 3">
	                AND CATEGORY_ID LIKE '%3%'
	            </if>
	            <if test="category == 4">
	                AND CATEGORY_ID LIKE '%4%'
	            </if>
	        </if>
	        order by TOOL_ID
	</select>
	
	<select id="selectCate" parameterType="Integer" resultType="String">
		SELECT CATEGORY_NAME
		FROM CATEGORY
		WHERE
			CATEGORY_ID = #{CATEGORY_ID}
	</select>
	
	<!-- 장비 하나 가져옴 -->
	<select id="toolDetail" resultType="ToolDTO">
		 select t.*, c.category_name
		   from tool t, category c
		  where t.category_id = c.category_id 
		  	and t.tool_id = #{tool_id}
		  	and t.visibility = 'Y'
	</select>
	
	<!-- 모든 장비 가져옴 -->
	<select id="getAllTool" resultType="ToolDTO">
		 select t.*, c.category_name
		   from tool t, category c
		  where t.category_id = c.category_id
  		  	and t.visibility = 'Y'
		  
	</select>
	
	
	<!-- 모든 카테고리 가져옴 -->
	<select id="getAllCategory" resultType="ToolCategoryDTO">
	    SELECT * FROM CATEGORY	
	</select>
	
	
	<!-- 장비 추가, 장비 코드 체크 -->	
	<select id="toolCodeCheck" resultType="int">
		select count(*) from TOOL
			where TOOL_CODE = #{code}
	</select>

	<!-- 어드민>대여내역에서 필터 적용된 장비 리스트 -->
	<select id="getFilterData" resultType="ToolDTO">
		 select t.*, c.category_name
		   from tool t, category c
		  where t.category_id = c.category_id
  		  	<if test="tool_code == '' and category_id != ''">
			  	and t.category_id = ${category_id}		  
		  	</if>
		  	<if test="tool_code != ''">
		  		and t.tool_code = #{tool_code}
		  	</if>
		  		and t.visibility = #{visibility}
   	</select>









	<!-- INSERT -->
	<!-- 새로운 장비 추가 -->
	<insert id="insertTool">
		INSERT INTO TOOL(TOOL_ID, TOOL_CODE, TOOL_NAME, TOOL_IMAGE, TOOL_COMMENT, CATEGORY_ID)
		VALUES (TOOL_SEQ.NEXTVAL, #{tool_code}, #{tool_name}, #{tool_image}, #{tool_comment}, #{category_id})
	</insert>
	
	
	<!-- UPDATE -->
	<update id="updateTool">
	   UPDATE TOOL
	      SET TOOL_CODE = #{tool_code}, 
	      	  TOOL_NAME = #{tool_name},
	      	  TOOL_IMAGE = #{tool_image},
	      	  TOOL_COMMENT = #{tool_comment},
	      	  CATEGORY_ID = #{category_id}
	       WHERE TOOL_ID = #{tool_id}
	</update>	
	
	
	<update id="deleteTool">
	   UPDATE TOOL
	      SET visibility = 'N'
	       WHERE TOOL_ID = #{tool_id}
	</update>

	<update id="reviveTool">
	   UPDATE TOOL
	      SET visibility = 'Y'
	       WHERE TOOL_ID = #{tool_id}
	</update>
	
	
	
</mapper>