<!-- footer -->
<footer th:fragment="footerFragment">
  <div class="top">
    <i class="fa-solid fa-phone"></i>
    <div class="cal">
      <h1>02-124-1234</h1>
      <p>평일 : AM 09:00 ~ 12:00, PM 13:00 ~ 17:00</p>
    </div>
  </div>

  <div class="content">
    <div class="con1">
      <a href="">개인정보처리방침</a> |
      <a href="">이용약관</a>
    </div>
    <div class="info">
      <p>EM&RS (34133) 서울특별시 xx구 xx로 169-148</p>
      <p>
        Copyright © 2024 Equipment Management And Rental System. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
<!-- footer End -->
